Cartopy==0.17.0
dask==2.12.0
dask-glm==0.2.0
dask-ml==1.2.0
distributed==2.12.0
earthengine-api==0.1.214
Fiona==1.8.13
geopandas==0.7.0
matplotlib==3.2.0
numpy==1.18.1
pandas==1.0.3
scikit-learn==0.22.2
scipy==1.4.1
seaborn==0.10.0
Shapely==1.7.0
TPOT==0.11.1
