.reference_box {
    color:#000000;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 1px solid #d6d6d6;
    border-top: 1px solid #d6d6d6;
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    background-color: #f9f9f9;
    margin-top: 20px;
    padding: 24px !important;
    font-family: "system-ui";
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.input_box {
    color:#000000;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 1px solid #d6d6d6;
    border-top: 1px solid #d6d6d6;
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    background-color: #f9f9f9;
    margin-top: 20px;
    padding: 24px !important;
    font-family: "system-ui";
    display: flex !important;
    align-items: center;
    justify-content: center;
    
}